@import '../../variables';

.book-info {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    padding-top: 50px;

    @media (max-width: 1160px) {
        width: auto;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        
        
    }
    
    &__img-wrap {
        width: 150px;
        margin-right: 50px;

        @media (max-width: 768px) {
            margin-right: 20px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
    }

    &__img {
        margin-bottom: 20px;
        margin-right: 20px;
    }

    &__info-wrapper {
        
        @media (min-width: 768px) {
            width: 500px;
        }
        
        @media (min-width: 1140px) {
            width: 900px;
        }
    }

    &__title {
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 10px;

        @media (max-width: 768px) {
            // font-size: 18px;
        }
    }

    span {
        font-weight: 700;
    }

    &__description {
        font-size: 16px;
        margin-bottom: 60px;
        line-height: 150%;
        

        span {
            display: block;
            margin-bottom: 10px;
            font-size: 20px;
        }
    }

    &__price {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.info-list {
    margin-bottom: 50px;
    
    @media (max-width: 768px) {
        font-size: 12px;
        margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 10px;

        @media (max-width: 768px) {
            margin-bottom: 5px;
        }
    }
}